<div class="row">
  <div class="primary col-md-8">

    <div class="advert">
      <a href="#">
        <%= image_tag('topbanner.jpg', class: 'img-thumbnail img-responsive')%>
      </a>
    </div> <!-- advert div ends here-->
    <h2>Feature post</h2>
    <div class="row">
      <% 6.times do %>
        <div class="col-md-6">
          <ul class="media-list">
            <li class="media">
              <%= image_tag('feature1.jpg', class: 'pull-left img-thumbnail')%>
              <div class="media-body">
                <div class="media-title">
                  <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                </div>
                <div class="post-meta">
                by <a>Hoangkien</a> | November 14
                </div>
              </div>
            </li>
          </ul>
        </div>
      <% end -%>
    </div> <!--row ends-->
    <div class="more-post col-md-12 text-right">
      <a href="#"> View all feature posts</a>
    </div>


    <h2> Latest News</h2>

    <div class="row" id="idlatestNews">
      <% 4.times do %>
        <div class="col-md-6">
          <div class="thumbnail">

            <div class="latest-title">
              <h2><a href="#"> this is a latest title posts <a></h2>
            </div>

            <%= image_tag('news.jpg', style: 'width:100%')%>

            <div class="caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <hr>
            <div class="post-info clearfix">
              <a href="#" class="pull-left">
                <span class="glyphicon glyphicon-calendar"></span>November 12</a>
              <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-tag"></span>CSS</a>
            </div>
          </div>
        </div> <!-- col-md-6 ends-->
      <% end -%>
    </div> <!-- Latest news ends here -->

    <div class="more-post col-md-12 text-right">
      <a href="#"> View all latest posts</a>
    </div>

    <h2> Most commented posts</h2>

    <div class="row">
      <% 6.times do %>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag('commented.jpg')%>
            <div class="caption">
              <h4>Post title goes here</h4>
              <span class="glyphicon glyphicon-comment"></span>
              <a href="#"> 33 comments</a>
            </div>
          </div>
        </div>
      <% end -%>
    </div>

    <div class="more-post col-md-12 text-right">
      <a href="#"> View all commented posts</a>
    </div>

    <h2>Single post with media element</h2>

    <div class="media">
      <div class="pull-left">
      <%= image_tag("single.jpg")%>
      </div>
      <div class="media-body">
        <div class="media-heading">
          <h2><a href="#">This is post title here</a></h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="post-info">
          <span class='glyphicon glyphicon-time'></span> November 15
          <span class='glyphicon glyphicon-user'></span> <a href="#">Hoangkien</a>
        </div>
      </div>
    </div>
<!--     2.1 advertising
    2.2 feature post with small feature images
    2.3 ads
    2.4 lastes new 2 columns with big images
    2.5 ads
    2.6 section with media object 3 columns with medium image
    2.7 single column post with heading + description -->
  </div> <!-- /primary div ends here-->
  <%= render 'shared/sidebar'%>
</div>

